[2018-01-04 09:10] samuelbeek opened #4 "Add contribution doc"
Add a contribution doc, like this one here: https://github.com/WeTransfer/wt-tech-docs/pull/56/files#diff-6e619932b5ef6a7b0cae1cf1f80fcd83

[2018-08-02 06:17] AvdLee commented on #4
We can reuse the one from UINotifications

[2018-08-22 13:08] fporcaro opened #10 "Unable to match mock with same url, headers and method with Alamofire"
I'm having trouble matching a mock I create with the corresponding actual request being generated from an Alamofire requst, where the url, headers and method all match.

Here's my mock setup:
[code]

- I thought maybe I was failing because my headers weren’t matching, so I removed the headers and still wasn’t getting a match.
- I replaced our actual endpoint with <host>, but I have validated it is

[2018-09-05 08:16] Aya-Akl opened #11 "Is it working on UI tests or only unit tests?"
Is it working on UI tests or only unit tests?

[2018-09-07 11:58] AvdLee commented on #10
Are you sure that the hosts are the same?

And for what reason are you unable to check the == in the debugger? You should be able to do that 🤔

[2018-09-07 11:58] AvdLee commented on #11
For now only with unit tests. We might support UI tests in the future as well.

[2018-09-07 11:58] #11 closed

[2018-09-07 12:01] fporcaro commented on #10
It steps right past it. I was hoping to step into it to see what fields are
actually being checked in the given concrete class implementation, but it
skips right over it with a false. Are you able to step into that comparison?
On Fri, Sep 7, 2018 at 6:58 AM Antoine van der Lee <notifications@github.com>
wrote:

[2018-09-09 13:18] fporcaro commented on #10
I was able to step into the ==, not sure why it wasn't stepping into it last time I was debugging.  Once I did, I was able to see that the url == check is failing because it was created with the URL(string:, relativeTo:) initializer.  This surprised me as the absolute strings for both urls were the same.

If I changed the code in Mock.==() to compare the url.absoluteString, the comparison works. L

[2018-09-10 09:01] AvdLee commented on #10
Great found! This makes things a lot clearer. Funny thing, this is already been done:

https://github.com/WeTransfer/Mocker/blob/master/Sources/Mock.swift#L164

The only thing to be done is to release a new version of `Mocker`, as I guess you've implemented this framework using CocoaPods for example?

Let me know and I'll look into releasing an update.

[2018-09-10 14:48] fporcaro commented on #10
Yes, I'm using CocoaPods - Thanks for taking care of this!

[2018-09-11 09:21] AvdLee commented on #10
@fporcaro we just pushed version 1.2.1 which should fix your issue. Closing this issue, but feel free to reopen if the issue still occurs.

[2018-09-11 19:46] fporcaro commented on #10
@AvdLee I think we also need to change the == for comparing a mock to the url request
`static func == (mock: Mock, request: URLRequest) -> Bool {
  ...
        return mock.url == request.url && mock.data.keys.contains(requestHTTPMethod)
    }`

should be:
`return mock.url.absoluteString == request.url.absoluteString && mock.data.keys.contains(requestHTTPMethod)`

Which is actually the check that's

[2018-09-12 06:40] AvdLee commented on #10
ah, alright. Reopening this one. Would you mind creating a PR with a reproducing test for that?

[2018-09-17 12:53] fporcaro commented on #10
Missed this, sorry.  I'm doing it now.

[2018-10-01 15:46] fporcaro commented on #10
@AvdLee I sent over the pull request and I saw the Travis build failed, but it looked like it was in areas that I didn't touch, so I wasn't sure what was happening there.  Thoughts?

[2018-10-02 07:08] AvdLee commented on #10
I missed your PR, sorry for that. I've added my review now, let's continue the discussion there.

[2018-11-06 09:14] AvdLee commented on #10
Fixed with https://github.com/WeTransfer/Mocker/pull/12

[2018-11-06 09:14] #10 closed

[2018-11-19 07:40] #4 closed

[2019-01-08 14:41] johndpope opened #19 "for consideration - support HAR / HTTP Archive format"
I built this
https://github.com/johndpope/HAR-replay-swift
It depends on OHTTPstubs

The idea here is - a user could load some captured traffic as saved har format (with one line of code)- and it would allow offline requests automagically.

(feel free to rip off whatever is of use, if you see useful.)

[2019-04-11 14:30] schmidan opened #22 "Misleading Documentation"
Hi

love this way of Mocking! Thanks for putting this together.

one tiny thing thou. Documentation says:
[code]

but `contentType` should actually be `dataType`

[code]

[2019-07-15 16:04] heckj opened #24 "mocking "failed" network interactions"
I didn't see any clear means of returning a failed network interaction (no route to host, for example) with Mocker, but I wanted that for some testing of my own.

I've made a slight modification in a forked version that has an additional initializer ('reportFailure' - a boolean) that will return throw exception on URL access instead of returning Data & a response code. Is this something you'd like

[2019-08-07 12:33] AvdLee commented on #24
Any contributions are welcome! As long as it's an optional feature and not hurting anyone else already using the project :)

Feel free to open the PR!

[2019-08-07 13:12] #22 closed

[2019-10-02 01:59] #19 closed

[2019-11-13 21:13] haikusw opened #32 "migrate 2.0.0 changes to spm compatible branch `feature/add-spm-support`?"
Would it be a good time to migrate the 2.0.0 changes to the spm compatible branch `feature/add-spm-support`?

[2019-11-21 21:11] haikusw opened #33 "Can SPM support be merged branch add-spm-support be merged to master?"
Any reason not to merge the add-spm-support to the master branch?

As it stands this branch is behind master by 29 commits so anyone using Mocker via SPM doesn't have some important bug fixes… #32

Thank you.

[2019-11-21 21:11] haikusw commented on #32
Even better, merge add-spm-support branch to master #33

[2019-11-23 01:45] haikusw commented on #33
Looks like this was done for https://github.com/WeTransfer/Mocker/pull/28

so closing this.  Seems like the branch could be deleted

[2019-11-23 01:45] #33 closed

[2019-11-23 01:45] haikusw commented on #32
N/A - everything from feature/add-spm-support has been  merged to master.

So really branch add-spm-support should probably just be deleted.

[2019-11-23 01:45] #32 closed

[2020-01-07 09:43] AvdLee commented on #24
Closing this one for inactivity. Feel free to reopen!

[2020-01-07 09:43] #24 closed

[2020-03-19 20:59] ekimia opened #49 "partial mocking"
possible to mock out only specific endpoints? essentially. the inverse of `ignore`

[2020-03-23 03:22] artemnovichkov opened #50 "URLSessionUploadTask mocking"
Does Mocker work with URLSessionUploadTask and URLSessionDownloadTask?

[2020-04-15 08:12] martinvw commented on #24
Hello @AvdLee I'm converting some manual mocked tests to your framework, however, I'm a bit surprised to see this failed interactions feature missing.

Is there another way you test error handling? I can not see a way to cover the handling of my certificate pinning errors and some other scenario's such as no connection at all to the server.

I'm BTW using Alamofire 5

Could you share your usage an

[2020-04-15 11:39] AvdLee commented on #24
@martinvw you can mock any request with failure response codes and optionally JSON data matching the error just like you would with other mocks:

https://github.com/WeTransfer/Mocker/blob/master/MockerTests/MockerTests.swift#L71

[2020-04-15 11:50] martinvw commented on #24
@AvdLee sorry for the confusion, I was referring to errors other then HTTP-errors, see the example I gave above as well:

Or do the frameworks such as Alamofire use other (negative?) status codes for that?

[2020-04-15 12:16] AvdLee commented on #24
@martinvw how would you normally test this? Wouldn't this be out of scope for this framework?
Mocker focuses on mocking outgoing network requests. I feel like these are failures happening before a request is going out.

Correct me if I'm wrong!

Otherwise, if you do think the framework should be capable of doing so, we can look into adding the functionality 🙂

[2020-04-15 13:11] martinvw commented on #24
I had the following code to test the `URLSession` and I added an extension on top of the `URLSession` to implement the `URLSessionProtocol`

[code]

I think that is up to you to decide :-D

I don't think it's out of scope because any solution implementing would be mocking the same classes en doing the same calls.

[2020-04-16 12:52] AvdLee commented on #24
From the above example I don't see anything that is not yet possible. Can you share with me one of your tests that you're currently not able to perform with Mocker?

[2020-04-16 15:34] dehrom opened #51 "Error mocking"
Hello, what about to mock failure case it test cases? Now it allows to define only a response from "server".

[2020-04-16 15:35] martinvw commented on #24
Thanks you very much for your reply I will try to come up with a clear verbose example tomorrow. I was busy with some other problems today.

[2020-04-17 07:36] martinvw commented on #24
Thanks for your time!

So it's about setting the `mockedError` in the snippet above, the  original issue starter solved it here:

https://github.com/heckj/swiftui-notes/blob/3226e21389c0a9986eae8cafc40347e9fc5c879f/UsingCombineTests/MockingURLProtocol.swift#L36-L42

My test did, for example, do the following:

[code]

And now I also want to create a test which throws the same error as the error th

[2020-04-17 14:32] heckj commented on #24
I sort of hacked that on to the side of the Mock, not sure what API would be good/appropriate, so I could use it to generate apparent "failures" within combine flows, and verify the flows were reacting to the failures appropriately. I meant to refactor that out and submit as a PR to Mock so others might have it, but lost track...

[2020-04-17 19:23] heckj commented on #24
@martinvw It's missing some pieces that I'm guessing the project will require (like docs, tests) - but the core of how I was using it is here: https://github.com/WeTransfer/Mocker/pull/52 - refactored to drop over the most recent version of Mocker rather than my earlier hacked/forked copy.

[2020-04-20 01:59] ekimia commented on #49
bump on this. If you all are open to this functionality i'll add it.

[2020-04-20 12:29] AvdLee commented on #24
I think it's fine to add such a feature if that helps for your cases! I'll go and reply in the PR for the feedback I have 🙂

[2020-05-01 00:08] #49 closed

[2020-05-03 00:07] #50 closed

[2020-05-22 10:23] AvdLee commented on #51
Fixed with https://github.com/WeTransfer/Mocker/pull/52

[2020-05-22 10:23] #51 closed

[2020-05-25 09:35] steelzeh opened #56 "Mocking headers?"
Is there a way to mock headers? Let's say i have an Authentication request i want to mock and test, but the request returns with some authorization header. Is there some way to mock these headers along with the response json?

[2020-05-25 09:41] steelzeh commented on #56
Nevermind, should probably look around a bit more, before creating an issue.

Anyways if anyone needs the answer:
You can use the additionalHeaders argument when creating a mock.

[2020-05-25 09:41] #56 closed

[2020-06-09 22:19] roksollc opened #60 "version 2.3.0 seems to introduce test error in non-test targets"
`Undefined symbol: __swift_FORCE_LOAD_$_XCTestSwiftSupport`

Using version 2.2.0, no error results.

[2020-06-09 22:49] roksollc commented on #60
I believe the problem is that `XCTest` is imported in `XCTest+Mocker.swift`, which is part of the `Sources` folder.

[2020-06-11 11:10] AvdLee commented on #60
@roksollc you've probably added `Mocker` to your main target. `XCTest` is only available from test targets and `Mocker` is designed to be used within tests only.

The easiest fix would be to reintegrate `Mocker` using SPM and making sure the selected target in the final step is set to your test target:

![image](https://user-images.githubusercontent.com/4329185/84378725-ec165080-abe4-11ea-8dc2-c01

[2020-06-11 16:19] roksollc commented on #60
That's a shame you're pigeon-holing the product, as we were using it as a means to run/test our app for new features w/o using bandwidth. I never encountered anything that suggested the product was meant solely for XCTest usage...and it wasn't forced that way until the recent changes.

[2020-06-16 12:32] AvdLee commented on #60
@roksollc I would be open to support that scenario, I was assuming nobody would use it that way.

If we can find a way to support both I would be happy to approve any PR for that! Main issue would be to only include XCTest for test targets.

[2020-06-19 11:20] mouadroaui opened #61 "'register' is inaccessible due to 'internal' protection level"
Hello dear team
i don't know why im getting this error
'register' is inaccessible due to 'internal' protection level

[2020-07-01 19:29] Maverick1000 opened #62 "Conflict with other framework"
With your framework and Cuckoo framework it has the "public protocol Mock: HasMockManager, HasSuperclass {  ... "  where you have "public struct Mock: Equatable { ... "

When using those framework in a xcTestCase under xCode during the build I will get compile error about "Mock(url: apiEndpoint, contentType: .json, statusCode: 200, data: [.get: MockedData.exampleJSON.dataRepresentation])" as not i

[2020-07-08 09:42] marat643 opened #63 "Small fix in examples"
This one is very small and I would say its more like suggestion than issue :)
In the example  :

[code]

`exampleJSON` is a `URL` type, but it doesn't have `data` property, its a bit confusing at the beginning, I would maybe add this extension to the `Mocker` framework or the extension as part of the sample or just a sample code that loads the data using `Data(contentsOf: url)`

Thanks,
Marat

[2020-07-10 12:38] marat643 opened #64 "Suggestion: call URLProtocol.unregisterClass(MockingURLProtocol.self)"
**Problem:**
While executing app's Unit tests target, it got executed together with app's target and triggers the lifecycle of the AppDelegate.
Some api calls (e.g Firebase, GA and etc..) might be called from `didFinishLaunchingWithOptions` or from the instantiated root view controller and if we mock default, ephemeral or background sessions in our test suite, we might see a lot of logs messages l

[2020-07-12 08:40] thethtun commented on #61
I just imported the source code into unit test module.

[2020-07-12 09:57] thethtun commented on #61
Also, please make sure that you are on the latest version (v2.3.0 as of now). If you copied **pod 'Mocker', '~> 1.0.0'** into Podfile, you won't get the latest version.

[2020-07-15 20:30] amarcadet opened #65 "Issues with 2.3.0: Cocoapods availability and build error"
Hi, I'm facing multiple issues with version 2.3.0:

#### 1/ Cocoapods availability
It looks like version 2.3.0 has been [tagged](https://github.com/WeTransfer/Mocker/releases/tag/2.3.0) but not published to [Cocoapods](https://cocoapods.org/pods/Mocker).
It might be related to the version specified in the [podspec](https://github.com/WeTransfer/Mocker/blob/2128c4224ac5e9d2a32d485f8bd230a3e559be86/

[2020-07-24 08:19] kublaios opened #66 "Module 'Mocker' was not compiled for testing error when using Carthage"
When I use Carthage as documented in the repo, I get "Module 'Mocker' was not compiled for testing" error thrown at line `@testable import Mocker`.

It works for manual import though.

P.S. It works if I don't make a `@testable` import, would that be a compromise?

[2020-08-11 00:25] #62 closed

[2020-08-11 18:13] Jordan-Turgeon opened #67 "Carthage build failure > 2.0.0"
This is happening for me trying to use any version > 2.0.

[code]
Cartfile entry: `github "WeTransfer/Mocker" ~> 2.3.0`

Command: `carthage update Mocker --no-use-binaries --platform ios`

I'm able to hard set the version to `2.0.0` and it seems to build fine.

[2020-08-20 00:27] #64 closed

[2020-08-20 00:27] #63 closed

[2020-08-25 00:27] #65 closed

[2020-08-25 09:02] amarcadet commented on #65
Re-open please

[2020-09-03 00:29] #66 closed

[2020-09-06 21:08] jw7519 opened #68 "Create a more extensive DataType enum or allow us to specify Content-Type some other way..."
In particular I'm missing `application/xml`, but I also deal with other formats.  The current enum is a bit too limiting, is there a way to easily extend this.?

[2020-09-21 00:32] #67 closed

[2020-09-30 16:42] iGranDav commented on #60
`#if canImport(XCText)` could do the trick 👌 we will make a PR for that since we are also using this really nice library for our UITests.

[2020-10-01 09:14] AvdLee commented on #60
@iGranDav in that case I'm reopening this issue so that it can be closed with your PR!

[2020-10-16 20:01] ericpassmore commented on #60
May also be resolved by changing build options ENABLE_TESTING_SEARCH_PATHS to YES

[2020-10-17 00:37] #68 closed

[2020-11-06 23:22] krzyzanowskim opened #72 "URLSessionConfiguration.urlCache support"
I've noticed that when I use `MockingURLProtocol` URL cache is not used.

given this mock:
[code]

and

[code]

I'd expect response cached (and it does for regular network requests). When the response is mocked though, cache is unused. How do you think is feasible to support cache here?

[2020-11-18 08:15] #72 closed

[2020-11-26 00:28] #60 closed

[2020-12-10 08:22] AvdLee opened #75 "Issue on linking Mocker while building on device or archiving"
- Integrated through SPM
- Reverting back to 2.2.0 removed the issue

This is likely caused by the [2.3.0 release](https://github.com/WeTransfer/Mocker/releases/tag/2.3.0), more specifically [this PR](https://github.com/WeTransfer/Mocker/pull/57).

[2020-12-10 20:41] Streebor opened #76 "Feature Request: Mock with GET where data is nil"
I am trying to achieve 100% code coverage and I cannot do so because there is no way to mock a GET request with data being `nil`. This is due to the fact that the `data` in the `URLSession`'s data task can be `nil`.

What I am looking for something like this:
[code]

This would be useful for both edge case testing and normal testing. For example, our servers return 204 when there is no new content

[2020-12-15 19:06] mkambale opened #77 "Failing to register"
Hello,

I am trying to mock simple json data. Every time it fails to register and because it never execute this block -
        shared.queue.async(flags: .barrier) {
            /// Delete the Mock if it was already registered.
            shared.mocks.removeAll(where: { $0 == mock })
            shared.mocks.append(mock)
        }
So, 'shared.mocks' array remains empty and when the request is sub

[2020-12-20 18:42] simonpoortman123 opened #78 "Koning Simon Poortman"

[2020-12-21 14:56] AlexZd opened #79 "Response based on parameters or headers"
Hello,

Is there way to get 2 different responses for same url? i'm using your lib to test OAuth interceptor, hence I need to call request and get 2 different responses.

For example i have dummy `.get` request `/dummy` which will return 401 in case "token" header does not exist, but it will return 200 in case `token == some value`.

[2020-12-28 00:58] cgoldammer commented on #75
I'm on Xcode 12.3: Getting the same issue on version 2.4.0 *and* 2.2.0 - I can build on simulators, but get the error above when building on my device (Iphone 11 pro). This might be part of a much larger issue: https://github.com/ReactiveX/RxSwift/issues/2127.

[2020-12-28 17:34] cgoldammer opened #80 "The manual install results in an error of "swiftlint.sh: No such file or directory""
Xcode 12.3. Steps to re-create:
1. Create new project
2. Follow [documentation](https://github.com/WeTransfer/Mocker#installation) for "Manually" up until step that says "Click on the + button under the "Embedded Binaries" section."
3. I can't find this section in Xcode 12.3. Instead, I use "Build Phases -> Link Binary with Libraries", click on "+" to add `Mocker.Framework`
3. Run

[code]

That's

[2021-01-01 17:56] cgoldammer opened #81 "Can Mocker be used on an application target (on my phone)?"
I have the following use case: I develop an app in XCode (12.3), and want to mock out the API so I can develop more quickly (data loads faster, I don't need to modify the backend while iterating towards the right structure). I use Mocker to do that, which works great on simulators.

What doesn't work easily is to run the app, including Mocker, on my phone (IPhone 11), see SOE [comments](https://st

[2021-01-04 09:36] AvdLee commented on #75
I've not been able to find the cause of this. We're running the project on Xcode 12.3 without any issues, even on a device 🤔

[2021-01-20 01:12] #76 closed

[2021-01-25 01:10] #77 closed

[2021-01-26 19:53] SeanMcTex commented on #75
I'm seeing the same issue, even building for simulator, using Xcode 12.2/12.3 and Mocker 2.4.0. Switching to Mocker 2.2.0 allowed my project to compile as well.

[2021-02-01 00:39] #79 closed

[2021-02-07 15:56] airowe-ra opened #82 "Swift 5.0 version?"
Any plans to release a new version of this pod targeting Swift 5.0?

[2021-02-08 00:30] #80 closed

[2021-02-12 00:30] #81 closed

[2021-02-15 15:27] letatas opened #83 "Opt-in mock mode instead of Opt-out"
Hello,

First, thank you for this excellent project. Then, here's my problem. I'm using an API with many routes, and I would like to mock only a few.

Is there an easy way to tell Mocker to ignore by default all requests, and only mock registered ones?

This way Mocker could be used while developing new features, even when the new routes are not yet available, without having to explicitely ignore

[2021-02-16 14:01] letatas commented on #83
I proposed a pull request implementing a solution: https://github.com/WeTransfer/Mocker/pull/84

[2021-02-25 08:51] #83 closed

[2021-03-01 12:21] AvdLee opened #88 "CocoaPods delivery is broken"
Currently, CocoaPods releases are broken:

[code]

This means latest versions are not available through CocoaPods.

[2021-03-01 12:21] AvdLee commented on #82
This will be fixed by https://github.com/WeTransfer/Mocker/issues/88. CocoaPods delivery is currently broken.

[2021-03-01 12:21] #82 closed

[2021-03-01 12:52] letatas commented on #88
I think I've found it, I'll create a PR for it.

[2021-03-01 13:04] letatas commented on #88
Can you try https://github.com/WeTransfer/Mocker/pull/89 and see if it fixes it?

[2021-03-02 21:37] letatas commented on #88
@AvdLee The v2.5.2 has been released, but it is still unavailable on CocoaPods, can you please paste the error log to figure it out?

[2021-03-03 10:19] AvdLee commented on #88
@letatas:

Something I will try to fix today!

[2021-03-03 10:34] AvdLee commented on #88
It should work now. Closing this one!

[2021-03-03 10:34] #88 closed

[2021-03-03 12:50] letatas commented on #88
Yay! Great, it works! Thanks for your time on it!

[2021-03-08 00:33] #75 closed

[2021-04-15 07:50] rogerluan opened #93 "Feature request: ignoring domains/subdomains or URL prefix"
Hey 👋

I constantly see Mocker warnings about not mocking 3rd party URLs such as from mixpanel or Realm. The problem is that the URLs look like:

[code]
[code]

Thus I thought if I called:

[code]
That Mocker would ignore all requests within this domain, but it doesn't.

I'd like to be able to ignore calls to `realm.io` or `mixpanel.com` (perhaps even omitting `static.` or `api.` for instance), or

[2021-04-19 19:26] rogerluan opened #94 "Installation via CocoaPods is Broken"
Follow up on https://github.com/WeTransfer/Mocker/issues/88 and https://github.com/WeTransfer/Mocker/issues/89

https://github.com/WeTransfer/Mocker/issues/89 actually resolved the build-time issue but it actually crashes the app during runtime.

I tried importing XCTest.framework in my project (embed & sign, embed without signing, do not embed), but none of these options worked for me.

[2021-04-19 20:44] rogerluan commented on #94
Temporary solution was to downgrade to https://github.com/WeTransfer/Mocker/releases/tag/2.2.0

[2021-05-16 03:26] rogerluan commented on #93
Bump

[2021-05-20 01:02] rogerluan commented on #94
Bump

[2021-05-21 06:40] LugonjaAleksandar opened #97 "AppStore binary fails due to Non-public API usage"
I'm trying to upload the app I'm developing including Mocker package for now, to showcase TestFlight build to the team, but the upload fails with a resulting message from Apple:

TMS-90338: Non-public API usage - The app references non-public symbols in Frameworks/Mocker.framework/Mocker: __swift_FORCE_LOAD_$_XCTestSwiftSupport,The app references non-public symbols in ************: __swift_FORCE_L

[2021-05-24 11:47] DrAma999 opened #98 "[Help needed] - Enqueue different responses for same request"
I'm trying to understand if this is possible, or at least how I can reach something like that.
I have a chain of "promises", let's say that inside this chain I have the same request with the same URL repeated over time.
For instance I have   LoginCheck API that is called three times inside this chain, the first and second time I want it to succeed the third fail. The chain is already packed inside

[2021-05-25 07:59] Zeno1995 commented on #98
I follow it, I also have the same problem!
Enzo

[2021-05-27 01:33] rogerluan commented on #93
Ugh.. I commented and the bot still closed my issue anyway 😥 @AvdLee could you reopen this issue? And perhaps label is somehow that it doesn't get auto-closed? 🙇 🙏

[2021-05-27 08:54] AvdLee commented on #93
@rogerluan this sounds like a valuable feature! We don't have the time to work on these requests, unless we need them ourselves. We do allow contributions and we're often fast in reviewing those.

If you can find the time to implement this, feel free to do so and I'm happy to review it right after!

[2021-05-27 12:32] rogerluan commented on #93
Thanks for the response @AvdLee ! If I can find the time I'll open a PR with a proposal 🤗

[2021-05-27 14:00] letatas commented on #94
Any news on this problem... I can't run any app with Mocker installed via CocoaPods, error appears at launch:

[code]

[2021-06-07 00:57] rogerluan commented on #94
This is still a problem 😕  can we prevent the bot from auto closing issues @AvdLee ? It's not working correctly, it's not respecting the rule it says 😖

[2021-06-07 07:45] AvdLee commented on #94
@letatas @rogerluan sorry for this. Unfortunately, we currently don't have time to add better support for CocoaPods. We're using SPM heavily and recommend using that instead. I understand this isn't always possible, so feel free to open a PR to fix support for CocoaPods accordingly.

[2021-06-21 05:33] LugonjaAleksandar commented on #97
Issue still exists, it's just that maintainers of this repo are not interested in taking a look at this. :(

[2021-06-27 00:26] rogerluan commented on #93
Oh no, it's the stale bot again 😕

[2021-07-02 00:05] #97 closed

[2021-07-06 00:05] #98 closed

[2021-07-08 02:30] rogerluan commented on #94
Bump, don't close 🙏

[2021-07-08 08:48] AvdLee commented on #94
@rogerluan it's too bad it hasn't been picked up yet, I feel sad about that! Have you had time to look up a potential solution to this by any chance?

[2021-07-09 13:41] rogerluan commented on #94
Thanks for the follow up @AvdLee - I haven't investigated the CocoaPods issue because I was able to upgrade my whole infrastructure to use SPM instead 🙈 So that became a no-problem to me 😅

[2021-07-29 05:54] nhatduy129 opened #100 "How can I mock no internet response by Mocker?"
I want to test the case which there is no internet. Is it possible for me to do that by using Mocker?

[2021-08-13 18:55] rogerluan commented on #94
Ping

[2021-08-15 21:24] rakithape commented on #75
I had the same issue. Switching to Mocker 2.2.0 fixed it

[2021-08-17 08:40] AvdLee commented on #75
I really wonder how this is happening to you. We're using the latest version of Mocker in all our projects at WeTransfer and we never run into this error.

Can you share which Xcode version you're using and how you integrated Mocker?

[2021-08-24 10:57] nonegu commented on #100
Hello,

There is a high chance that you have already find a solution, but in any case, I would like to share my approach.

I had the same case and used `requestError:` on the public initializer of Mock class. I created a custom `NSError` with code `NSURLErrorNotConnectedToInternet` and passed it.

You may use a similar approach for any kind of request failures. Mocker will return the error instead

[2021-08-24 15:37] nhatduy129 commented on #100
Thank to your answer, you help me know that Mock constructor has `requestError`. Instead customise NSError like yours. I pass `URLError(.notConnectedToInternet)` to requestError. It works for me, thank you so much.

[2021-08-24 15:45] BasThomas commented on #94
Will see if I can take a look at this one.

[2021-08-25 06:43] BasThomas commented on #94
Alright, this is the output from `pod install`, given the following podfile:

## Podfile

[code]

## Output

[code]

[2021-08-25 06:48] BasThomas commented on #94
After that, however, I can `import Mocker` in my tests, use it, and build it for testing. Can you provide (more) steps to reproduce?

[2021-08-25 06:58] BasThomas commented on #100
Does that resolve your issue, @nhatduy129? If so, could we close this issue? :)

[2021-08-25 07:20] #100 closed

[2021-08-25 11:26] rogerluan commented on #94
@BasThomas Thanks for helping us get to the bottom of this issue! 🙏

The issue I'm describing only happens after #89 got merged, so you gotta use a more recent version of Mocker (2.2.0 is quite dated) - in fact, I posted here that using 2.2.0 would make everything work as expected again https://github.com/WeTransfer/Mocker/issues/94#issuecomment-822772614 😄. Here's a project using `2.5.3` where th

[2021-08-25 11:33] BasThomas commented on #94
d'oh. I see. Just pasted the version 2.20 from the README; I guess we should update that as well. Will try again!

[2021-08-25 13:42] BasThomas commented on #94
Trying this again...

## Podfile

[code]

## Output

[code]

[2021-08-25 13:46] BasThomas commented on #94
OK, recreating this now. Looking into it.

[2021-08-25 13:48] BasThomas commented on #94
It's interesting how this runtime crash occurs even when nothing has been imported related to Mocker.

[2021-08-25 13:54] BasThomas commented on #94
I think what we'd need to do is to weak-link `XCTest`. Let me put up a pull request. This will require a new release, though.

[2021-08-25 13:58] BasThomas commented on #94
~... or maybe that's not the full fix. Womp womp~

This does seem to work after all!

[2021-08-29 07:55] wetransferplatform commented on #94
The pull request #102 that closed this issue was merged and released as part of [Release 2.5.4](https://github.com/WeTransfer/Mocker/releases/tag/2.5.4) :rocket:
Please let us know if the functionality works as expected as a reply here. If it does not, please open a new issue. Thanks!<p align="right"><i>Generated by <a href="https://github.com/WeTransfer/GitBuddy">GitBuddy</a></i></p>

[2021-08-29 08:05] BasThomas commented on #94
Little does the bot know that the CocoaPods release itself isn't exactly out yet, but 😛

[2021-08-30 02:10] rogerluan commented on #93
Can the bot be selectively disabled for specific PRs? Say, by adding a special label? :)

[2021-08-30 08:13] AvdLee commented on #94
It should! CI pushes the release to the CocoaPods branch too

[2021-08-30 08:14] AvdLee commented on #93
That's a very good question and that can actually be useful. Let me see!

[2021-08-30 08:15] AvdLee commented on #93
Fixed that, it should no longer happen due to the `enhancement` label!

[2021-08-30 08:40] BasThomas commented on #94
oh wow! 😀

[2021-08-30 08:41] BasThomas commented on #94
Hm, 2.5.2 is the latest available on CocoaPods https://github.com/CocoaPods/Specs/tree/master/Specs/2/a/c/Mocker

[2021-08-30 08:42] BasThomas commented on #94
So perhaps the bot needs a visit to the doctor. 😛

[2021-08-30 13:16] AvdLee commented on #94
The bot is not drunk, just a bit shy to tell us!

![image](https://user-images.githubusercontent.com/4329185/131344861-1747d8aa-b8e1-41e0-bc8f-e5bdba37d55e.png)

[code]

We need to update the pods token is what I see.

However, let's wait till we conclude here: https://twitter.com/twannl/status/1432253926657626113

[2021-08-30 17:50] rogerluan commented on #93
Thank you @AvdLee ❤️

[2021-09-01 09:41] wetransferplatform commented on #94
The pull request #102 that closed this issue was merged and released as part of [Release 2.5.4](https://github.com/WeTransfer/Mocker/releases/tag/2.5.4) :rocket:
Please let us know if the functionality works as expected as a reply here. If it does not, please open a new issue. Thanks!<p align="right"><i>Generated by <a href="https://github.com/WeTransfer/GitBuddy">GitBuddy</a></i></p>

[2021-09-30 01:43] rogerluan commented on #93
It seems like the `enhancement` label didn't prevent stale bot from visiting this issue again 😢

[2021-09-30 09:43] AvdLee commented on #93
I updated our stale manager, should be fixed now

[2021-10-21 03:56] naoigcat opened #107 "Cannot build when added to Application Target using Swift Package Manager"
I'm trying to use the Mocker to prevent communications with some URLs and fix their responses during app development. However, I added the library using Swift Package Manager, then the build to fail.

Is there any solution?

[code]

[code]

[2021-10-23 20:19] iOSDeveloperL opened #108 "RequestError: doesn't mock the error that's passed in and always return sessionTaskFailed"
I want to test our error handling and was hoping to use Mocker for it. We use Alamofire (but the bug is reproducible with URLSession).

Without Alamofire (pseudo code)
[code]

**po error**
[code]

^ this should have been the error I passed but instead I received a `.sessionTaskFailed` error.

I did spend some time looking into this and the finishRequest inside MockingURLProtocol does get the mock.

[2021-11-18 18:12] nik6018 opened #110 "How to Mock POST request which have a response ?"
Hi,

I have a login API where it accepts values in it's POST body and returns a User Object if the request is successful. I tried multiple ways but I am not able to mock this type of request. I checked Tests file which has many examples, but the example with POST request ignores the response.

Network Mocking is fairly new to me and I am still learning so should I be mocking such a scenario or is

[2021-11-23 01:47] iOSDeveloperL commented on #108
this is still an issue.

[2021-12-01 00:09] #107 closed

[2021-12-24 05:52] iOSDeveloperL commented on #108
unfortunately this is still an issue.

[2021-12-30 00:08] #110 closed

[2022-01-13 15:38] ruangchupa commented on #107
I have this issue too.. :(
You should check this @naoigcat https://stackoverflow.com/a/69921668/5845039
That works for me.

[2022-01-18 01:28] naoigcat commented on #107
@ruangchupa

Thank you for the information.

I didn't comment here, but I solved this issue by referring to [README.md#resolving-build-errors](https://github.com/WeTransfer/Mocker#resolving-build-errors). Changing 'Enable Testing Search Paths' to 'YES' and 'Enable Bitcode' to 'NO' (for the device) has worked to me.

[2022-01-27 02:21] iOSDeveloperL commented on #108
still an issue.

[2022-03-10 00:10] #108 closed

[2022-03-10 11:49] petrazavadska commented on #108
still an issue as no new version with fix was released

[2022-03-10 15:02] iOSDeveloperL commented on #108
this is still an issue.

[2022-03-24 15:12] fripp85 opened #115 "Support for application/x-www-form-urlencoded data type and dynamic request body inspection"
Do you guys have any plan to support "application/x-www-form-urlencoded" as Mocker data type?
Let me explain my needs.

I'm using your code for mocking some request to a service requiring a body encoded as "application/x-www-form-urlencoded".

I noticed that the _onRequest_ closure of the Mock object assumes that the body of the request is of kind [String: Any]?.

Would be great if Mock.DataType w

[2022-05-05 00:13] #115 closed

[2022-06-09 09:53] AllDmeat opened #119 "postBodyArguments doesn't support Collections"
I'm sending array of objects via network. It's `Codable` converted to `Data` and set into `URLRequest`.
But `postBodyArguments` getter tries to cast it to `[String: Any]`, thus I'm getting `nil` when accessing it.

`URLRequest`'s extension containing `httpBodyStreamData()` is private and thus I can't get `Data` by myself and convert it to `[[String: Any]]`.

As a workaround I've copypasted your `U

[2022-06-24 01:55] aelam opened #120 "add mock.unregister so that it can run parrallel?"
If Xcode runs tests in parallel it might be a problem that all requests are registered in the same domain

unregister could help out?

[2022-07-14 20:49] RonnyFenrich commented on #119
I just ran into the same issue using Alamofire 5 with the `Session.request(_:method:parameters:encoder:headers:interceptor:requestModifier:)` method.
`httpBodyArguments` is now just nil in the tests mock.onRequest handlers :-(

[2022-08-05 00:16] #120 closed

[2022-08-11 04:45] farrasdoko commented on #120
you can use `Mocker.removeAll()` to unregister all registered mocks.

[2022-08-18 05:35] HeavenMin opened #129 "pod install failed with m1 mac"
/Library/Ruby/Gems/2.6.0/gems/ffi-1.15.5/lib/ffi/library.rb:275: [BUG] Bus Error at 0x0000000104df4000
ruby 2.6.8p205 (2021-07-07 revision 67951) [universal.arm64e-darwin21]

-- Crash Report log information --------------------------------------------
   See Crash Report log file under the one of following:
     * ~/Library/Logs/DiagnosticReports
     * /Library/Logs/DiagnosticReports
   for more

[2022-08-25 00:16] #119 closed

[2022-09-28 00:23] #129 closed

[2022-10-07 14:30] usmaanirfan opened #131 "Testing functions having https request call using Mocker fail"
Writing unit test cases for functions using mock data where https url requests are made. After some success tests it stuck in waiting and finally fail because of time out. May be because number of threads are created around 265. Can someone suggest how to fix this. below is the test case how it is being used.

 func testRefreshSuccess() {
        let mockExpectation = expectation(description: "Get

[2022-10-17 07:37] AvdLee opened #132 "Add backwards compatibility for `onRequest` changes in `2.7.0`"
Our latest 2.7.0 release broke code from version 2.6.0: https://github.com/WeTransfer/Mocker/pull/125#issuecomment-1276809139

Let's see if we can write a overload that keeps both versions working.

[2022-10-18 10:09] soymonitus commented on #97
Has this been solved?

[2022-10-24 13:46] sukhaman opened #133 "Pod Install Issue"
I am trying to install Mocker pod but unable to install it. I have tried Swift Package Manager as well but there is error on both end. Can you please provide update regarding how can I install Mocker pod ?
<img width="856" alt="Screen Shot 2022-10-24 at 9 43 51 AM" src="https://user-images.githubusercontent.com/62219972/197540947-4bf72331-591b-45e7-851a-99ce90ad202d.png">

[2022-10-24 13:47] sukhaman commented on #133
<img width="651" alt="Screen Shot 2022-10-24 at 9 44 47 AM" src="https://user-images.githubusercontent.com/62219972/197541106-34ec992c-f80c-4faf-9189-56da875124f9.png">

[2022-10-26 12:46] chkpnt opened #134 "Optional dataType for empty body"
In my opinion, `dataType` should be optional in order to allow a response without a `Content-Type` for an empty body. This would also allow us to use `Content-Type` in `additionalHeaders`, as `Content-Type` is currently always overwritten by `dataType.headerValue`, which might be useful if you do not to spread your headers over two parameters.

An alternative would be to provide a `DataType`
[code

[2022-11-03 14:08] AvdLee commented on #134
@chkpnt this makes total sense to me (e.g. 202 responses). Making `DataType` optional makes most sense to me, since `none` is not a data type strictly said.

We would be happy to receive a contribution! 🙏

[2022-11-03 14:08] AvdLee commented on #133
@sukhaman we no longer support CocoaPods since SPM is currently mature enough to adopt. We recommend using SPM to install Mocker.

[2022-11-03 14:08] #133 closed

[2022-11-03 14:09] AvdLee commented on #131
Are there any logs that hint you in a direction?

[2022-11-03 16:10] AvdLee commented on #132
Reverted 2.7.0 and we're working on a good fix #135

[2022-11-03 16:10] #132 closed

[2022-11-03 21:12] choulepoka opened #137 "Tag 2.7.0 deleted!?"
Is there a reason why the tag 2.7.0 (sha1 e7165fb0378193c6784f1d46a9ab2b6184c384fa) was deleted?

[2022-11-11 12:31] farshadmb opened #142 "Removed Cocoapods"
What is the reason behind removing `podspec` from your library?

[2022-11-29 09:31] #134 closed